.evaluation{
    display: flex;
    justify-content: space-around;
    }
    .evaluation .box-user-information{
        align-items: center;
        }
        .evaluation .box-user-information .body-evaluation{
            color: var(--primary-color);
            font-size: 30px;
        }