body{
    background-color: #f4f4f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
.createAccount{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.left{
   width: 50%;
   padding: 15px 0px 10px 30px;
   background: linear-gradient(to right, #38a169 10%, #0985f8 70%,#f4f4f4 55%);
   color: white;

}
.left .imag{
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
}
.left .imag img{
    width: 6%;
    max-width: 300px;
}

.left h1{
    font-size: 35px;
    width: 300px;
    margin-bottom: 20px;
    font-weight: 550;
    line-height: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: start;
    padding-left: 20px;
}
.left .image{
    width: 700px;
    height: 400px;
    display: flex;
    justify-content:center;
}
.left .image img{
    width: 70%;
}

.right{
    /* background-color: orange; */
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 60px 10px 10px 15px;
    padding-top: 10px;
}
.right .greetings{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 30px;
}
.right .creerCompte{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.right .creerCompte .formulaire form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.right .creerCompte .formulaire form .names{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}
.right .creerCompte .formulaire form .names .presentation{
    display: flex;
    flex-direction: column;
    width: 48%;
}
.right .creerCompte .formulaire form fieldset{
    text-align: left;
    width: 90%;
    border-radius: 7px;
    height: 40px;
    border: 1px solid black;
    background-color: #f4f4f4;
}
.right .creerCompte .formulaire form fieldset input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #f4f4f4;
}
.right .creerCompte .formulaire form .submit{
    display: flex;
}
.right .creerCompte .formulaire form .submit button{
    width: 95%;
    height: 40px;
    text-align: center;
    background-color: green;
    color: white;
}
.right .creerCompte .register{
    display: flex;
    justify-content: center;
}
.right .creerCompte .register a{
    color: green;
}
.right .espace{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}
.right .espace .hr{
    height: 1px;
    width: 40%;
    background-color: rgb(150, 133, 133);
}
.right .convliens{
    display: flex;
    flex-direction: row;
    row-gap: 15px;
    width: 95%;
    justify-content: space-between;
}
.right .convliens .google, .right .convliens .facebook{
    width: 48%;
    height: 50px;
    text-align: center;
    box-shadow: 1px 4px 10px  rgb(168, 161, 161) ;
    outline: none;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 20px;
}
.right .convliens .google:hover, .right .facebook:hover{
    transform: scale(1.1);
    cursor: pointer;
    border: green;
}
.right .convliens .google img,.right .convliens .facebook img, .bouton img{
    height: 60%;
    width: 10%;
}
.errors{
    height: 10px;
    display: flex;
    align-items: start;
    justify-content: start;
    font-style: italic;
    font-size: 15px;
}
@media(max-width: 1000px){
    .createAccount{
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .left{
        display: none; 
    }
    .right{
        width: 100%;
        row-gap: 20px;
        padding: 0px 0px 10px 0px;
    }

    .right .greetings{
        position: relative;
        font-size: 50px;
        font-weight: bold;
        color: 
        white;
        background: linear-gradient(to left,#5fa881 30%, rgb(49, 192, 104),#0e502c );
        background-size: 100% 200%;
        background-clip: text;
        color: transparent;
        animation: waveFill 3s ease-in-out forwards;
        padding-left: 10px;
    }
    @keyframes waveFill {
       to{
        background-position: 0 ;
       }
    }
    .right .creerCompte .formulaire form{
        width: 95%;
        row-gap: 15px;
        padding-left: 10px;
    }
    .right .creerCompte .formulaire form .names{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        row-gap: 10px;
    }
    .right .creerCompte .formulaire form .names .presentation{
        width: 100%;
    }
    .right .espace{
        padding-left: 10px;
    }
    .right .convliens{
        
        flex-direction: column;
        width: 92%;
        row-gap: 15px;
        padding-left: 10px;
    }
    .right .convliens .google, .right .convliens .facebook{
        width: 100%;
    }
    .right .convliens .google img,.right .convliens .facebook img, .bouton img{
        height: 50%;
        width: 6%;
    }
}