body{
    background-color: #f4f4f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
.login{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 10%;
    left: 0;
    /* background-color: #f4f4f4; */
}
.leftpart{
    /* background-color: yellow; */
    width: 50%;
}
.leftpart img{
    width: 85%;
    height: 90%;
}
.rightpart{
    /* background-color: orange; */
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-left: 40px;
}
.rightpart .greetings{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.rightpart .greetings .bienvenue{
    font-weight: bold;
    font-size: 20px;
}
.rightpart .greetings .nomapp{
    color: #5ceb70;
    font-weight: bolder;
    font-size: xx-large;
}
.rightpart .connexion{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.rightpart .connexion .convliens{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.rightpart .connexion .convliens .google, .rightpart .connexion .convliens .facebook{
    width: 90%;
    height: 50px;
    text-align: center;
    box-shadow: 1px 4px 10px  rgb(168, 161, 161) ;
    outline: none;
    /* transition: 0.5s ease-in-out; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 20px;
}
.rightpart .connexion .convliens .google:hover, .rightpart .connexion .convliens .facebook:hover{
    /* transform: scale(1.1); */
    cursor: pointer;
    border: #5ceb70;
}
.rightpart .connexion .convliens .google img,.rightpart .connexion .convliens .facebook img, .bouton img{
    height: min-content;
    width: 5%;
}
.rightpart .connexion .espace{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}
.rightpart .connexion .espace .hr{
    height: 1px;
    width: 40%;
    background-color: rgb(150, 133, 133);
}
.rightpart .connexion .convmails form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.rightpart .connexion .convmails .email, .rightpart .connexion .convmails .password{
    display: flex;
    flex-direction: row;
    background-color: #cec5c5;
    column-gap: 20px;
    width: 90%;
    border-radius: 5px;
    height: 50px;
    align-items: center;
    padding-left: 5px;
}
.rightpart .connexion .convmails .email input, .rightpart .connexion .convmails .password input{
    border: none;
    outline: none;
}

.rightpart .connexion .convmails .email .icone, .rightpart .connexion .convmails .password .icone{
    height: 50%;
    width: 6%;
}
.rightpart .connexion .convmails .email .icone img, .rightpart .connexion .convmails .password .icone img{
    width: 100%;
    height: 100%;
}
.rightpart .connexion .convmails .email .enterEmail, .rightpart .connexion .convmails .password .enterPassword{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 79%;
    height: 100%;
}
.rightpart .connexion .convmails .email label, .rightpart .connexion .convmails .password label{
    width: 98%;
    height: 30%;
    text-align: start;
    font-size: 11px;
    /* background-color: brown; */
}
.rightpart .connexion .convmails .email .enterEmail input, .rightpart .connexion .convmails .password .enterPassword input{
    width: 98%;
    height: 70%;
    background-color: #cec5c5;
    border: none;
}
.rightpart .connexion .convmails .password .bouton{
    height: 25px;
    width: 30px;
    padding: 20px;
    /* background-color: tomato; */
}
.rightpart .connexion .convmails .password .bouton img{
    height: 100%;
    width: 100%;
}
.rightpart .connexion .convmails .forgotPass{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 91%;
}
.rightpart .connexion .convmails .forgotPass a{
    color: #5ceb70;
}
.rightpart .connexion .convmails .submit{
    display: flex;

}
.rightpart .connexion .convmails .submit button{
    width: 90%;
    height: 40px;
    text-align: center;
    background-color: #5ceb70;
    color: white;
}
.rightpart .connexion .register{
    display: flex;
    justify-content: center;

}
.rightpart .connexion .register a{
    color: #5ceb70;
}
.errors{
    height: 10px;
    display: flex;
    align-items: start;
    justify-content: start;
    font-style: italic;
    font-size: 15px;
}

@media(max-width: 1000px){
    body{
        overflow-x: hidden;
        background-color: black;
        /* box-sizing: border-box; */
        /* height: auto; */
        display: block;
        /* padding: 0px; */
    }
    .login{
        display:flex ;
        flex-direction: row;
        /* overflow-y: hidden; */
        width: 100vw;
        height: 100vh;
        /* position: absolute; */
        top: 0;
        left: 0;
        /* align-items: center; */
    }
    .leftpart{
        display: none;
        width: 0%;
    }
    .rightpart{

        /* width: max-content; */
        padding-left: 0px;
        width: 100%;
        background-color: #f4f4f4;
        row-gap: 20px;
    }
    .rightpart .greetings{
        background: linear-gradient(135deg, #02490e, #54fc11, #20580a, #3d971a );
        padding: 40px 20px;
        border-bottom-left-radius: 50% 50px;
        border-bottom-right-radius: 90% 100px;
        justify-content: center;
        color: white;
        height: 30%;
    }
    .rightpart .greetings .bienvenue{
        font-size: 45px;
    }
    .rightpart .greetings .nomapp{
        color: white;
        font-weight: bolder;
        font-size: 50px;
    }
    .rightpart .connexion{
       padding-left: 15px;
       font-size: 17px;
       row-gap: 25px;
    }
    .rightpart .connexion .convmails form{
        row-gap: 20px;
    }
}