#landingPage .second-view .feature .box-head-feature{
    background-color:var(--medium-grey);
    align-self: center;
    width: auto;
    height: auto;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    margin-bottom: 30px;
    color: black;/* important lorsque le theme passera en dark */
}
#landingPage .second-view .feature .first-text{
    align-self: center;
}
#landingPage .second-view .feature  .all-advantages{
    width: 90%;
    align-self: center;
    background-color: #D3F0FC;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:5%;
    padding: 50px;
    border-radius: 50px;
    margin-bottom: 30px;
    }
    #landingPage .second-view .feature  .all-advantages .first-text{
        width: 100%;
    }
    #landingPage .second-view .feature  .all-advantages .see-advantages{
        grid-row: 1;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        transform: translateY(30%);
        
        }
        #landingPage .second-view .feature  .all-advantages .see-advantages .second-text{
            width: 100%;
            text-align: left;
        }
        #landingPage .second-view .feature  .all-advantages .see-advantages .advantage{
            background-color: var(--primary-color);
            margin-bottom: 15px;
            align-self: baseline;
            width: auto;
            padding: 5px;
            text-align: left;
            border-radius: 50px;
        }
    #landingPage .second-view .feature .all-advantages .img-advantage{
        grid-column: 2;
        }
        #landingPage .second-view .feature .all-advantages .img-advantage img{
            width: 100%;
        }
/* Remarquez bien que j'ai plutot défini le comportement face a un grand ecran */
@media screen and (min-width:1000px) {
    #landingPage .second-view .feature .first-text{
        width: 40%;
    }  
}

/* Comportement face à un écran de téléphone */
@media screen and (max-width:600px) {
    #landingPage .second-view .feature  .all-advantages {
        display: flex;
        border-radius: 0px;
        width: auto;
        } 
        #landingPage .second-view .feature .all-advantages .img-advantage{
            display: none;
        }  
}
/* Juste une meilleur gestion de la position de l'explication des avntages dans les features */
@media screen and (max-width:1000px){
    #landingPage .second-view .feature  .all-advantages .see-advantages{
        transform: translateX(0%);
    }
}

@media (prefers-color-scheme: dark) {
    
    #landingPage .second-view .feature  .all-advantages{
        background-color: #5c737e;
        }
        #landingPage .second-view .feature  .all-advantages .see-advantages{
            color: white !important;
            }
            #landingPage .second-view .feature  .all-advantages .see-advantages .second-text{
                color: white !important;
            }
    
}



        
