#landingPage {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#landingPage .second-view {
  width: 100%;
  background-color: var(--presentation-blue);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}

#landingPage .second-view section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

#landingPage .second-view button {
  height: 40px;
  width: auto;
  align-self: center;
  box-sizing: border-box;
  font-size: 1.5rem;
  padding: 1.5rem 1rem;
  display: flex;
  vertical-align: middle;
  color: black;
  margin-bottom: 30px;
}

#landingPage .second-view button div {
  align-self: center;
}

#landingPage .second-view button span {
  margin-left: 5px;
  align-self: center;
}

@media screen and (max-width: 600px) {
  #landingPage .second-view .first-text {
    width: 100%;
    font-size: 1.875rem; /* 30px */
  }
  #landingPage .second-view .second-text {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  #landingPage .second-view .second-text {
    color: black;
  }
}
