#landingPage{
    background-color: var(--small-grey);
    }
    #landingPage .second-view{
        width: 100%;
        background-color: var(--third-color);
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding-top: 20px;
        }   
        #landingPage .second-view section{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        #landingPage .second-view .first-text{
            font-size: 60px;
            margin-bottom: 30px;
            }
            #landingPage .second-view .first-text span{
                color: var(--primary-color);
        }
        #landingPage .second-view .second-text{
            font-size: 22px;
            width: 60%;
            align-self: center;
            color: #aaaaaa;
            margin-bottom: 30px;
        }
        #landingPage .second-view button{
            height: 40px;
            width: auto;
            align-self: center;
            box-sizing: border-box;
            font-size: 25px;
            padding: 30px 20px 30px 20px;
            display: flex;
            vertical-align: middle;
            color:black;
            margin-bottom: 30px;
            }
            #landingPage .second-view button div{
                align-self: center;
            }
            #landingPage .second-view button span{
                margin-left: 5px;
                align-self: center;
        }

