.how-work .help-start{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 5%;
    }
    .how-work .help-start .first-text{
        font-size: 35px !important;
        width: 400px;
        text-align: left;
    }
    .how-work .help-start button{
        align-items: center;
        color: white;
        font-size: 25px !important;
    }

.how-work .first-step {
    position: relative; /* Nécessaire pour positionner les pseudo-éléments */
    padding: 20px;
    background: var(--degrade);
    text-align: center;
    margin: 50px;

}
/* background: -webkit-linear-gradient(315deg, #269735,#5ceb70);Chrome 10-25, Safari 5.1-6                          background: linear-gradient(315deg, #269735,#5ceb70);W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+                                              */