.nav-side-bar{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    }
    .nav-side-bar span{
        font-size: 25px !important;
    }

    .nav-side-bar .message{
        position: absolute;
        height: 40px;
        width: 100px;
        margin-left: 37px;
        padding-left: 5px;
        background-color: white;
        box-shadow: 1px 1px 10px 1px gray;
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px;
        color: black !important;
        align-items: center;
        font-size:18px;
        animation-duration: 0.2s;
        animation-timing-function: ease-in;
    }

@keyframes navSurvolAnnim {
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(0px);
    }
}